ListWidget, QListView, QTreeWidget, QTreeView {
     outline: 0px;
 }

 QListWidget {
     min-width: 120px;
     max-width: 120px;
     color: Black;
     background: #f6f6f6;

 }
 QListWidget::Item:selected {
     background: #ddd;
     color: Black;
     border-right: 5px solid red;
     padding: 0 0 0 5px;
 }
 HistoryPanel:hover {
    background: rgb(52, 52, 52);
 }